cronSchedule: "0 0 * * *"

image:
  registry: docker.io
  repository: tammert/replicant
  tag:

serviceAccount:
  create: true

environmentVariables:
  REPLICANT_CONFIG: "/config/replicant.yaml"
  REPLICANT_DEBUG: "false"

#secretEnvironmentVariables:
#  AZURE_SP_ID: x
#  AZURE_SP_PASSWORD: x
#  AWS_ACCESS_KEY_ID: x
#  AWS_SECRET_ACCESS_KEY: x
#  AWS_DEFAULT_REGION: eu-central-1

# GOOGLE_APPLICATION_CREDENTIALS environment variable is added when googleApplicationCredentials is present.
#googleApplicationCredentials: |
#  {}

#config:
#  images:
#    nginx:
#      source: k8s.gcr.io/ingress-nginx/controller
#      destination: eu.gcr.io/tammert/ingress-nginx/controller
#      mode: higher
#    atlantis:
#      source: docker.io/runatlantis/atlantis
#      destination: eu.gcr.io/tammert/runatlantis/atlantis
#      mode: all
#      allow-prerelease: true
#    external-dns:
#      source: k8s.gcr.io/external-dns/external-dns
#      destination: eu.gcr.io/tammert/external-dns/external-dns
#      mode: highest
#      replace-tag: true
#    cert-manager:
#      source: quay.io/jetstack/cert-manager-controller
#      destination: eu.gcr.io/tammert/jetstack/cert-manager-controller
#      mode: semver
#    velero:
#      source: velero/velero
#      destination: eu.gcr.io/tammert/velero/velero
#      mode: semver
#      allow-prerelease: true
